<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Here Island uses Apple Music to fetch animated artwork.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Here Island needs audio capture permission to display the real-time music waveform visualizer.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Here Island needs screen recording permission to hide the notch while screen sharing.</string>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUPublicEDKey</key>
	<string>q2YQaJ1umGkaIJWMGN9Isj5fx/YlUtxnzHEBqFtfZcg=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
